body {background-color: rgb(100, 19, 5);}
div.gallery {
    margin: 5px;
    border: 1px solid #0c0b0b;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #d80808;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  .centext{
    text-align: center;
    font-style: italic;
    color: #f1f1f1;
  }
  h1{text-align: center;}

  .center {
display:block;
margin-left: auto;
margin-right: auto;  
border: 50px solid red }


flex-container {
    display: flex;
    flex-direction:row;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #660202;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  
ul {
    list-style-type: none;
    left: 0px;
    background-color: #490606;
    padding: 40px;
    padding-left: 0px;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  
li {
    display: inline;
    color: rgb(245, 239, 239);
    padding: 30px;
    }

  
  .footer {
    text-align: center;
    color: #f1f1f1;
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 15px;
    bottom: 0%;
    position: static;
    width: 100%;
    background-color: rgb(114, 29, 29);
  }

  a{
color: #f1f1f1;


  }
h1{
  color: #f1f1f1;
    text-align: center;
}
  h2{
    color: #f1f1f1;
    text-align: center;
  }
  p{
    color: #f1f1f1;
    text-align: center;

  }
  label{
    display: inline-block;
    padding-top: 25px;
    padding-top: 25px;
    color: #f1f1f1;
    font-size:x-large;
  }
